.Block {
    display: flex;
    padding: 30px;
    padding-right: 90px;
    flex-direction: column;
    font-size: 20px;
    width: 100vw;
    gap: 20px;
}

.Block h1 {
    width: 100vw;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.Dark-Theme {
    background-color: #2a2a37;
    color: rgb(233, 230, 229);
}

.Light-Theme {
    background-color: rgb(233, 230, 229);
    color: rgb(68, 67, 66);
}