#entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgb(255, 0, 0);
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 60%, #2a2a37 95%);
    background-size: 100%;
    padding: 30px;
    font-size: 20px;
    width: 100vw;
}

.slider {
    display: flex;
    height: 80vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 0%;
    position: absolute;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 80vh;
    width: 80vw;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    border-radius: 20px;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
    transition: opacity 800ms;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}