    footer {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 700px;
    }
    
    #contact-Us {
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
        gap: 10px;
        padding-left: 30px;
    }
    
    footer div {
        height: 100%;
    }
    
    footer a {
        color: rgb(233, 230, 229);
        font-size: 30px;
    }
    
    #redes-Sociais-Block {
        display: flex;
        flex-direction: column;
    }
    
    #links-a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 150px;
        height: 40px;
    }
    
    #links-a a:hover {
        transition: all 1s;
        color: #c40000;
        transition: all 1s;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    #Made-By {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 100%;
    }