.HARE {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: space-between;
}

.each-LinhaHARE {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(68, 67, 66);
    border-bottom: 1px solid rgba(68, 67, 66);
    justify-content: center;
}

.each-LinhaHARE :nth-child(1) {
    /* object-fit: cover; */
    width: 20vw;
    height: 28vh;
}

.each-LinhaHARE :nth-child(2) {
    width: 20vw;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
}

.each-LinhaHARE :nth-child(3) {
    width: 30vw;
    align-items: center;
    text-align: justify;
}