.LIMA {
    text-align: justify;
    width: 100vw;
    height: 120vh;
}

#imageLima-Line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#imageLima-Line img {
    width: 30vw;
    height: 25vw;
}